article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

html,
button,
input,
select,
textarea {
    font-family: Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
	margin: 0;
	color: #F2C45A;
}

.clear { clear: both; }

.talign-center { text-align: center; }

body{
	padding: 0;
	margin: 0;
	color: #222;
	background-color: #403B33;
	width: 100%;
	height: 100%;
	font: 16px/1.4 'Ubuntu', Helvetica, Arial, Geneva, sans-serif;
	color: #A3A948;
}

a {
	text-decoration: none;
	color: #F2C45A;
	font-weight: 200;
}

a:HOVER {
	text-decoration: underline;
}

hr {
	background-color: #443F36;
	border: none;
	height: 1px;
	border-bottom: 1px solid #5D564B;
	margin: 5px 0;
}

/* Inspired by beautiful scrollbar 
 * on Joshua Hibbert's website: http://joshnh.com/
 */
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #F2C45A;
}

::-webkit-scrollbar-track {
	background-color: #332F29;
}


#outer-container {
	width: 600px;
	margin: 0 auto;
}

#main-container {
	background-color: #4C473D;
	padding: 20px;
}

#top-header {
	text-align: center;
	margin-bottom: 30px;
}

.top-header__link:hover {
	text-decoration: none;
}

#top-header h1 {
	font-size: 70px;
	color: #A3A948;
	padding: 0;
	margin: 0;
}
#top-header h2 {
	font-size: 18px;
	color: #F2C45A;
	margin: 0;
}

#main-container > nav {
	text-align: center;
	margin-bottom: 20px;
	background: #403B33;
	font-size: 0;
}

#main-container > nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
}

#main-container > nav li {
	margin: 0 3px;
	float: left;
}

#main-container > nav a {
	color: #A3A948;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	padding: 4px 8px;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
	-webkit-transition: 350ms all;
}

#main-container > nav a:HOVER {
	text-decoration: none;
	background-color: #332F29;
}

#main-container > nav a.selected {
	background-color: #332F29;
}

#main-container > nav a:HOVER:AFTER, #main-container nav a.selected:AFTER {
	content: '';
	width: 0;
	height: 0;
	border: solid transparent;
	background: transparent;
	border-width: 10px;
	position: absolute;
	bottom: -19px;
	left: 50%;
	border-top-color: #332F29;
	margin-left: -10px;
}

footer {
	text-align: center;
	padding: 10px 10px 20px;
	font-size: 12px;
}

.callout {
  background: #403B33;
  padding: 20px 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.callout:after {
  background: transparent;
  border: solid transparent;
  width: 0;
  height: 0;
  content: '';
  border-left-color: #403B33;
  border-width: 10px;
  position: absolute;
  right: -19px;
  top: 20px;
}

#me {
	width: 78px;
	height: 250px;
	margin: 0 auto;
	position: relative;
}

#me .callout {
	position: absolute;
	right: 80px;
	top: 20px;
	width: 140px;
	opacity: 0;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-webkit-transition-property: opacity, -webkit-transform;
	-moz-transition-property: opacity, -webkit-transform;
}

#me:hover .callout {
	opacity: 1;
	-webkit-transform: translateY(-10px);
}

#me div{
	width: 6px;
	height: 6px;
	background: transparent;
	box-shadow: 36px 6px #000,12px 0px #000,36px 0px #000,48px 0px #000,48px 6px #000,42px 0px #000,12px 6px #000,30px 0px #000,18px 0px #000,24px 0px #000,18px 6px #000,30px 6px #000,24px 6px #000,42px 6px #000,48px 12px #000,12px 12px #dba363,18px 12px #dba363,24px 12px #dba363,30px 12px #dba363,42px 12px #dba363,36px 12px #dba363,24px 24px #dba363,42px 24px #dba363,12px 18px #ffffff,30px 18px #ffffff,36px 54px #dba363,42px 54px #dba363,36px 60px #dba363,42px 60px #dba363,24px 18px #dba363,36px 72px #db6333,36px 66px #db6333,30px 72px #db6333,30px 66px #db6333,42px 66px #db6333,24px 66px #db6333,18px 66px #db6333,48px 66px #db6333,12px 72px #db6333,12px 66px #db6333,18px 72px #db6333,24px 72px #db6333,42px 72px #db6333,48px 72px #db6333,12px 78px #db6333,18px 78px #db6333,24px 78px #db6333,48px 78px #db6333,12px 84px #db6333,18px 84px #db6333,48px 84px #db6333,12px 90px #dba363,12px 96px #dba363,12px 102px #dba363,12px 108px #dba363,18px 108px #dba363,24px 108px #dba363,30px 108px #dba363,36px 108px #dba363,48px 108px #dba363,42px 108px #dba363,18px 96px #db6333,18px 90px #db6333,24px 102px #db6333,24px 90px #db6333,24px 96px #db6333,42px 90px #db6333,30px 102px #db6333,36px 102px #db6333,36px 96px #db6333,42px 102px #db6333,18px 120px #db6333,18px 114px #db6333,30px 114px #db6333,24px 114px #db6333,24px 120px #db6333,30px 120px #db6333,36px 114px #db6333,42px 120px #db6333,36px 120px #db6333,42px 114px #db6333,12px 24px #ffffff,30px 24px #ffffff,18px 18px #ffffff,36px 24px #000,18px 24px #000,18px 126px #db6333,24px 126px #db6333,30px 126px #db6333,36px 126px #db6333,42px 126px #db6333,48px 102px #dba363,18px 132px #688026,24px 138px #688026,24px 132px #688026,18px 138px #688026,30px 132px #688026,30px 138px #688026,36px 132px #688026,36px 138px #688026,42px 132px #688026,42px 144px #688026,42px 138px #688026,18px 144px #688026,36px 144px #688026,24px 144px #688026,30px 144px #688026,18px 150px #688026,18px 156px #688026,24px 162px #688026,24px 150px #688026,24px 156px #688026,18px 162px #688026,42px 150px #688026,42px 156px #688026,42px 162px #688026,24px 198px #dba363,24px 204px #dba363,24px 210px #dba363,24px 222px #dba363,24px 216px #dba363,18px 168px #688026,24px 168px #688026,18px 174px #688026,24px 174px #688026,24px 180px #688026,18px 180px #688026,48px 198px #dba363,48px 204px #dba363,48px 216px #dba363,48px 210px #dba363,42px 168px #688026,42px 174px #688026,42px 180px #688026,42px 186px #688026,18px 186px #688026,24px 186px #688026,18px 192px #688026,24px 192px #688026,42px 192px #688026,48px 222px #dba363,30px 228px #705433,24px 228px #dba363,18px 228px #dba363,12px 228px #dba363,24px 234px #705433,12px 234px #705433,18px 234px #705433,30px 234px #705433,42px 228px #705433,42px 234px #705433,54px 228px #705433,54px 234px #705433,42px 240px #705433,54px 240px #705433,48px 228px #dba363,48px 234px #dba363,48px 240px #dba363,30px 90px #db6333,24px 84px #db6333,42px 96px #db6333,42px 84px #db6333,36px 90px #db6333,30px 84px #db6333,30px 96px #db6333,42px 48px #dba363,30px 60px #e35444,36px 18px #ffffff,48px 24px #000,42px 18px #dba363,48px 18px #000,54px 114px #bf562d,54px 120px #bf562d,54px 126px #bf562d,54px 138px #4b5c1b,54px 132px #4b5c1b,54px 156px #4b5c1b,54px 192px #4b5c1b,54px 174px #4b5c1b,54px 168px #4b5c1b,54px 186px #4b5c1b,54px 144px #4b5c1b,54px 162px #4b5c1b,48px 30px #b88953,48px 36px #b88953,48px 48px #b88953,48px 42px #b88953,60px 90px #b88953,60px 102px #b88953,60px 96px #b88953,60px 108px #b88953,54px 246px #705433,42px 246px #705433,48px 246px #705433,6px 234px #705433,60px 84px #bf562d,60px 72px #bf562d,60px 66px #bf562d,60px 78px #bf562d,48px 96px #db6333,48px 90px #db6333,48px 60px #bf562d,48px 132px #688026,48px 138px #688026,48px 144px #688026,48px 156px #688026,48px 150px #688026,48px 186px #688026,48px 192px #688026,48px 180px #688026,48px 162px #688026,48px 174px #688026,48px 168px #688026,54px 180px #4b5c1b,54px 150px #4b5c1b,48px 114px #db6333,48px 126px #db6333,48px 120px #db6333,54px 102px #dba363,54px 108px #dba363,54px 66px #db6333,54px 78px #db6333,54px 72px #db6333,54px 84px #db6333,54px 90px #db6333,54px 96px #db6333,6px 6px #000,6px 0px #000,18px 102px #dba363,30px 78px #db6333,36px 84px #db6333,42px 78px #db6333,36px 78px #db6333,42px 36px #dba363,42px 30px #dba363,30px 30px #dba363,36px 30px #dba363,18px 30px #dba363,12px 30px #dba363,24px 30px #dba363,12px 36px #dba363,12px 42px #dba363,12px 48px #dba363,42px 42px #dba363,24px 48px #000,30px 48px #dba363,36px 48px #dba363,18px 48px #dba363,30px 42px #b88953,36px 36px #b88953,24px 42px #b88953,18px 42px #b88953,36px 42px #b88953,30px 36px #dba363,24px 36px #dba363,18px 36px #dba363;
}

.twtr-follow-container {
	text-align: center;
	margin-top: 20px;
}

article {
	background: #524C42;
	padding: 10px;
	border-radius: 5px;
}

article a {
	color: inherit;
	padding-bottom: 2px;
	border-bottom: 1px hsl(64, 40%, 47%) solid;
}

article a:HOVER {
	color: #F2C45A;
	border-color: #F2C45A;
	text-decoration: none;
}

article.list-item {
	margin-bottom: 10px;
}

article.list-item:last-child {
	margin-bottom: 0;
}

article .post-title {
}

article .post-meta {
	font-size: 12px;
}

article .post-summary {}

/* Blockquote credits: http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
article blockquote {
	background: rgba(0, 0, 0, 0.07);
	border-left: 10px solid rgba(0, 0, 0, 0.15);
	margin: 1.5em 10px;
	padding: .5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

article blockquote:before {
	color: rgba(0, 0, 0, 0.15);
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em;
}

article blockquote p {
	display:inline;
}

article p {
	line-height: 1.5em;
}

article img {
	border: 6px solid rgba(255, 255, 255, 0.09); 
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

article p code {
	font-size: 12px;
	background-color: #4A453B;
	padding: 2px 3px;
	border: 1px solid #443F36;
	border-radius: 3px;
}

.button {
	background-color: #F2C45A;
	color: #3E3A32;
	padding: 6px 12px;
	text-align: center;
	cursor: pointer;
	border: none;
	text-decoration: none !important;
	-webkit-transition: color, background-color 200ms;
	-moz-transition: color, background-color 200ms;
}

.button:hover {
	background-color: #3E3A32;
	color: #F2C45A;
}

.button-big {
	display: block;
	font-weight: bold;
	padding: 10px;
	font-size: 1.5em;
}

.share-bar {
	height: 25px;
	margin: 10px 0;
}
.share-button { float: left; }

/* Navigation buttons */
.blog-navigation-buttons {
	margin-top: 40px;
	overflow: hidden;
}

.blog-navigation-buttons .button {
	width: 40%;
	text-transform: uppercase;
}

.next-post-button {
	float: right;
}

.prev-post-button {
	float: left;
}

/* Comment box */
.comment-box {
	margin-top: 40px;
}

/* Social bar */
#social-bar {
	text-align: center;
	margin-bottom: 20px;
	font-size: 0;
}

#social-bar .social-icon {
	display: inline-block;
	width: 54px;
	height: 54px;
	margin: 0 10px;
}

#social-bar .social-icon span {
	display: block;
	width: 6px;
	height: 6px;
	background: transparent;
}
#social-bar .social-icon.twitter span {
	box-shadow: 6px 18px #00aced,12px 6px #00aced,30px 6px #00aced,36px 6px #00aced,42px 18px #00aced,42px 12px #00aced,42px 24px #00aced,6px 12px #00aced,36px 12px #00aced,24px 12px #00aced,30px 12px #00aced,42px 30px #00aced,42px 36px #00aced,36px 30px #00aced,6px 36px #00aced,6px 24px #00aced,6px 30px #00aced,18px 42px #00aced,24px 42px #00aced,30px 42px #00aced,36px 42px #00aced,36px 18px #00aced,18px 24px #ffffff,24px 36px #ffffff,30px 36px #ffffff,24px 24px #ffffff,30px 24px #ffffff,24px 30px #00aced,30px 30px #00aced,30px 18px #00aced,24px 18px #00aced,24px 6px #00aced,18px 36px #ffffff,12px 30px #ffffff,12px 24px #ffffff,12px 18px #ffffff,12px 12px #ffffff,12px 42px #00aced,36px 36px #ffffff,36px 24px #ffffff,18px 30px #ffffff,18px 12px #ffffff,18px 18px #ffffff,12px 36px #00aced,18px 6px #00aced,6px 6px #00aced,6px 42px #00aced,42px 42px #00aced,48px 24px #00aced,48px 36px #00aced,48px 30px #00aced,48px 18px #00aced,48px 12px #00aced,42px 6px #00aced,0px 30px #00aced,42px 0px #00aced,36px 0px #00aced,12px 0px #00aced,6px 0px #00aced,24px 0px #00aced,30px 0px #00aced,18px 0px #00aced,0px 12px #00aced,0px 18px #00aced,0px 24px #00aced,0px 6px #00aced,0px 36px #00aced,0px 42px #00aced,18px 48px #00aced,24px 48px #00aced,12px 48px #00aced,6px 48px #00aced,30px 48px #00aced,36px 48px #00aced,48px 42px #00aced,42px 48px #00aced,48px 6px #00aced;
}
#social-bar .social-icon.fb span {
	box-shadow: 6px 6px #3c5a98,6px 42px #3c5a98,12px 42px #3c5a98,30px 36px #3c5a98,6px 30px #3c5a98,6px 24px #3c5a98,12px 18px #3c5a98,30px 42px #3c5a98,42px 24px #3c5a98,42px 18px #3c5a98,42px 12px #3c5a98,36px 24px #3c5a98,36px 30px #3c5a98,42px 30px #3c5a98,36px 42px #3c5a98,36px 36px #3c5a98,42px 36px #3c5a98,24px 42px #ffffff,18px 42px #ffffff,24px 36px #ffffff,18px 36px #ffffff,18px 30px #ffffff,24px 30px #ffffff,18px 24px #ffffff,18px 18px #ffffff,24px 18px #ffffff,24px 12px #ffffff,24px 24px #ffffff,18px 6px #3c5a98,30px 12px #ffffff,36px 12px #ffffff,30px 24px #3c5a98,12px 24px #3c5a98,24px 6px #3c5a98,30px 6px #3c5a98,36px 6px #3c5a98,18px 12px #3c5a98,12px 36px #3c5a98,12px 30px #ffffff,30px 30px #ffffff,30px 18px #ffffff,36px 18px #ffffff,42px 42px #3c5a98,30px 0px #3c5a98,12px 0px #3c5a98,36px 0px #3c5a98,24px 0px #3c5a98,48px 12px #3c5a98,48px 18px #3c5a98,48px 30px #3c5a98,48px 36px #3c5a98,48px 42px #3c5a98,48px 6px #3c5a98,42px 6px #3c5a98,42px 0px #3c5a98,18px 0px #3c5a98,12px 12px #3c5a98,6px 0px #3c5a98,12px 6px #3c5a98,0px 6px #3c5a98,6px 12px #3c5a98,6px 18px #3c5a98,0px 12px #3c5a98,0px 24px #3c5a98,0px 18px #3c5a98,0px 30px #3c5a98,0px 36px #3c5a98,6px 36px #3c5a98,6px 48px #3c5a98,0px 42px #3c5a98,12px 48px #3c5a98,18px 48px #3c5a98,24px 48px #3c5a98,42px 48px #3c5a98,30px 48px #3c5a98,36px 48px #3c5a98,48px 24px #3c5a98;
}
#social-bar .social-icon.github span {
	box-shadow: 0px 12px #d9d9d9,12px 0px #d9d9d9,6px 6px #d9d9d9,6px 36px #d9d9d9,12px 48px #d9d9d9,0px 36px #d9d9d9,0px 30px #d9d9d9,0px 18px #d9d9d9,0px 24px #d9d9d9,42px 6px #d9d9d9,30px 0px #d9d9d9,24px 0px #d9d9d9,18px 0px #d9d9d9,18px 6px #d9d9d9,12px 42px #d9d9d9,24px 6px #d9d9d9,36px 42px #d9d9d9,18px 48px #d9d9d9,24px 48px #d9d9d9,30px 48px #d9d9d9,42px 42px #d9d9d9,48px 36px #d9d9d9,36px 48px #d9d9d9,36px 0px #d9d9d9,48px 12px #d9d9d9,48px 18px #d9d9d9,42px 18px #d9d9d9,48px 30px #d9d9d9,42px 36px #d9d9d9,30px 6px #d9d9d9,6px 18px #d9d9d9,18px 18px #171717,36px 18px #171717,30px 18px #171717,36px 24px #171717,36px 36px #171717,12px 36px #171717,12px 24px #171717,24px 18px #171717,30px 42px #171717,24px 42px #171717,18px 42px #171717,12px 30px #171717,24px 36px #f4cab1,18px 36px #f4cab1,18px 24px #171717,30px 24px #171717,24px 24px #171717,24px 30px #f4cab2,30px 36px #f4cab2,36px 6px #d9d9d9,12px 6px #d9d9d9,6px 24px #d9d9d9,6px 30px #d9d9d9,42px 30px #d9d9d9,48px 24px #d9d9d9,42px 24px #d9d9d9,30px 12px #d9d9d9,24px 12px #d9d9d9,18px 12px #d9d9d9,36px 30px #171717,42px 12px #d9d9d9,36px 12px #171717,12px 18px #171717,12px 12px #171717,6px 12px #d9d9d9,18px 30px #f4cab1,30px 30px #f4cab1,6px 42px #d9d9d9,0px 42px #d9d9d9,6px 48px #d9d9d9,0px 6px #d9d9d9,6px 0px #d9d9d9,42px 0px #d9d9d9,48px 6px #d9d9d9,48px 42px #d9d9d9,42px 48px #d9d9d9;
}

/*
Social bar 2
 */
.social-bar-2 {
	overflow: auto;
	width: 400px;
	margin: 0 auto;
}

.social-bar-2__item {
	width: 20%;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	border-top: 10px solid;
	overflow: hidden;
	-webkit-transition: border-width .25s ease;
	-moz-transition: border-width .25s ease;
	-ms-transition: border-width .25s ease;
	-o-transition: border-width .25s ease;
	transition: border-width .25s ease;
}

.social-bar-2__item:hover,
.social-bar-2__item:focus {
	border-top-width: 0;
}

.social-bar-2__item--twitter {
	border-top-color: #00ACED; 
}

.social-bar-2__item--github {
	border-top-color: #D9D9D9; 
}

.social-bar-2__item--facebook {
	border-top-color: #3C5A98; 
}

.social-bar-2__item--google {
	border-top-color: #DD4B39; 
}

.social-bar-2__item--ng {
	border-top-color: #FFB60D; 
}

.social-bar-2__item__text {
	display: block;
	opacity: 0;
	font-size: 12px;

	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;

	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}

.social-bar-2__item__text:hover {
	text-decoration: none;
}

.social-bar-2__item:hover .social-bar-2__item__text,
.social-bar-2__item:focus .social-bar-2__item__text {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);

	opacity: 1;
}

/* bring to top button for blog posts */
.bring-to-top {
	background: #F2C45A;
	position: fixed;
	right: 20px;
	padding: 30px;
	color: white;
	font-weight: bold;
	bottom: 20px;
	cursor: pointer;
	display: none;
}