:root {
  --color-bg: #fff2e6;
  --color-link: #914949;
  --color-heading: #914949;
  --color-brand: #914949;
  --color-focus: #914949;
  --base-font-size: 1.4em;
  --font-family-serif: Georgia, "Times New Roman", Times, serif;
  --max-content-width: 800px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*:focus {
  outline: 4px solid;
  outline-color: var(--color-focus);
  outline-offset: 4px;
}

html {
  min-height: 100vh;
  margin-left: calc(100vw - 100%);
  font-size: var(--base-font-size);
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-bg);
  width: 100%;
  min-height: 100vh;
  /* font-size: 20px; */
  line-height: 1.56;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #2c2c2c;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: Arial Rounded MT Bold;
}
img {
  max-width: 100%;
}
.brand-color {
  color: var(--color-brand);
}
.font-serif {
  font-family: var(--font-family-serif);
}
.ta-c {
  text-align: center;
}
.d-f {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.fxg-1 {
  flex-grow: 1;
}
.mb-xs {
  margin-bottom: 0.5rem;
}
.mb-s {
  margin-bottom: 1rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-l {
  margin-bottom: 4rem;
}
.container {
  padding: 0 1rem;
}
.container--small {
  max-width: var(--max-content-width);
  margin: 0 auto;
}
.post__title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
}
.post__meta {
  text-align: center;
}
.post__content {
  margin-top: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.post-tag {
  background: #efdfdf;
  border-radius: 5px;
  padding: 4px 12px;
}
code:not([class]) {
  background: #efdfdf;
  padding: 4px 4px;
  border: 1px solid #dcabab;
  border-radius: 5px;
}

.site-footer {
  position: relative;
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}
.site-footer__bg {
  position: absolute;
  bottom: -20px;
  width: 100vw;
  left: 0;
  z-index: -1;
}

.social-bar {
  margin: 1rem 0 2rem;
}

.homepage-title {
  text-align: center;
  font-size: 5rem;
}

.list-item {
  margin-bottom: 2rem;
}
