/* css style */


body{
	background-color: #eeb;
	font-size: 12;
}

a{
	color: #ff0000;
	text-decoration: none;
}

a:hover{
	font-style: underline;
	color: #000000;
	font-size: 20px;
}

a.selected{
	color: #000000;
	font-weight: bold;
	font-size: 20px;
}

ul{
	list-style: none;
}

.box{
	display: block;
	text-align: center;
	padding: 1px;
}

#wrapper{
	width: 800px;
	margin: auto;
	background-color: #fff;	
}

#header{
	//width: 800px;
	//background-color: #ffcccc;
}

#menu{
	//width: 800px;
	background-color: #eee;
}

#menu>ul>li{
	font-size: 14;
	display: inline;
}

#content{
	//background-color: #aaffaa;
}

#footer{
	background-color: #eeb;
}
