---
title: 'Blog tags'
permalink: /blog/tags/
layout: default
---
<h1>Blog tags</h1>

<ul>
{% for tag in collections.tagList %}
  <li><a href="/blog/tags/{{ tag | slugify }}">{{ tag }}</a></li>
{% endfor %}
</ul>
