<nav>
  <ul>
    <li><a href="/" class="{% if page.name == 'home' %}selected{% endif %}">HOME</a></li>
    
    <li><a href="#" class="{% if page.name == 'games' %}selected{% endif %}">GAMES</a></li>
    
    <li><a href="/lab/" class="{% if page.name == 'lab' %}selected{% endif %}">LAB</a></li>

    <li><a href="/blog/" class="{% if page.name == 'blog' %}selected{% endif %}">BLOG</a></li>
    
    <li><a href="/about/" class="{% if page.name == 'about' %}selected{% endif %}">ME?</a></li>
  </ul>

  <div class="clear"></div>

</nav>
