<nav>
  <ul>
    <li><a href="/games" class="{% if page.name == 'games' %}selected{% endif %}">games</a></li>

    <li><a href="/lab/" class="{% if page.name == 'lab' %}selected{% endif %}">lab</a></li>

    <li><a href="/blog/" class="{% if page.name == 'blog' %}selected{% endif %}">blog</a></li>

    <li><a href="http://draw.kushagragour.in" target="_blank">draw</a></li>

    <li><a href="http://travel.kushagragour.in" target="_blank">travel</a></li>

    <li><a href="/about/" class="{% if page.name == 'about' %}selected{% endif %}">me</a></li>
  </ul>

  <div class="clear"></div>

</nav>
