<ol reversed>
{% for post in posts %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
     🗓 <time datetime="{{ post.date }}">{{ post.date | readableDate}}</time>
    
    {% for tag in post.data.tags %}
      <a href="/blog/tags/{{ tag | slug }}" class="content-tag">{{ tag }}</a>
    {% endfor %}
   
  </li>
{% endfor %}
</ol>
