

<div class="container container--small">
<ol reversed style="list-style:none">
	{% for post in posts %}
	<li>
		<article class="list-item {% if post.data.link %}list-item--external{% endif %}">
    <span class="list-item__number">{{ loop.revindex }}</span>
<div>

			<h3 class="mb-xs">
				<a href="{% if post.data.link %}{{ post.data.link }}{% else %}{{ post.url | url }}{% endif %}">{{ post.data.title }}</a>
			</h3>
			
			<div class="d-f jc-sb">
				<div class="post-meta">
          <time datetime="{{ post.date }}">{{ post.date | readableDate}}</time> <span aria-hidden="true">🔖</span> 

          {% for tag in post.data.tags %}
          <a href="/blog/tags/{{ tag | slug }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
				</div>
				
				{% if post.data.website %}<div class="post-website">{{ post.data.website }}</div>{% endif %}
			</div>
			<div>
		</article>
	</li>
	{% endfor %}
</div>