
<div class="share-bar" >
	{% capture current_page %}{{ site.root_url }}{{ page.url }}{% endcapture %}

	<div class="share-button" style="width:90px;">
		<iframe src="//www.facebook.com/plugins/like.php?href={{ current_page | url_encode }}&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	</div>

	<div class="share-button" style="width:80px;">
		<div class="g-plusone" data-size="medium" data-href="{{ current_page }}"></div>
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</div>

	<div class="share-button" style="width:110px;">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ current_page }}" data-via="chinchang457" data-related="chinchang457">Tweet</a>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
	</div>
</div>