<section class="social-bar">
  <a
    class="social-bar__item  social-bar__item--twitter"
    href="https://twitter.com/chinchang457"
  >
    <span class="social-bar__item__text">Twitter</span>
  </a>
  <span class="link-separator">⎈</span>
  <a
    class="social-bar__item  social-bar__item--github"
    href="https://github.com/chinchang"
  >
    <span class="social-bar__item__text">Github</span>
  </a>
  <span class="link-separator">⎈</span>

  <a
    class="social-bar__item  social-bar__item--cssbattle"
    href="https://cssbattle.dev/player/chinchang"
  >
    <span class="social-bar__item__text">CSSBattle</span>
  </a>
</section>
