<section class="social-bar-2">
  <a
    class="social-bar-2__item  social-bar-2__item--twitter"
    href="https://twitter.com/chinchang457"
  >
    <span class="social-bar-2__item__text">Twitter</span>
  </a>
  <a
    class="social-bar-2__item  social-bar-2__item--github"
    href="https://github.com/chinchang"
  >
    <span class="social-bar-2__item__text">Github</span>
  </a>
  <a
    class="social-bar-2__item  social-bar-2__item--cssbattle"
    href="https://cssbattle.dev/player/chinchang"
  >
    <span class="social-bar-2__item__text">CSSBattle</span>
  </a>
</section>
