<section class="social-bar-2">

	<div class="social-bar-2__item  social-bar-2__item--twitter">
		<a target="_blank" href="https://twitter.com/chinchang457" class="social-bar-2__item__text">Twitter</a>
	</div>
	<div class="social-bar-2__item  social-bar-2__item--github">
		<a target="_blank" href="https://github.com/chinchang" class="social-bar-2__item__text">Github</a>
	</div>
	<div class="social-bar-2__item  social-bar-2__item--facebook">
		<a target="_blank" href="https://www.facebook.com/kgcodes" class="social-bar-2__item__text">Facebook</a>
	</div>
	<div class="social-bar-2__item  social-bar-2__item--google">
		<a target="_blank" href="http://www.gitub.com/chinchang" class="social-bar-2__item__text">Google</a>
	</div>
	<div class="social-bar-2__item  social-bar-2__item--ng">
		<a target="_blank" href="http://chinchang457.newgrounds.com/" class="social-bar-2__item__text">Newgrounds</a>
	</div>

</section>