<section class="social-bar-2">

	<a class="social-bar-2__item  social-bar-2__item--twitter" href="https://twitter.com/chinchang457">
		<span class="social-bar-2__item__text">Twitter</span>
	</a>
	<a class="social-bar-2__item  social-bar-2__item--github" href="https://github.com/chinchang">
		<span class="social-bar-2__item__text">Github</span>
	</a>
	<a class="social-bar-2__item  social-bar-2__item--facebook" href="https://www.facebook.com/kgcodes">
		<span class="social-bar-2__item__text">Facebook</span>
	</a>

</section>