---
layout: default
title: Lab
name: lab
---

<h1 class="post__title">Lab</h1>

<div class="container container--small">
  {% for project in projects %}

  <article
    class="list-item list-item--lab {% if project.image %}list-item--with-picture{% endif %}"
  >
    <span class="list-item__number">{{ forloop.i | plus:1 }}</span>

    <div class="list-item__content">
      <a href="{{ project.link }}" style="display: block">
        <h3 class="post-title">{{ project.name }}</h3>
      </a>
      <span class="list-item--lab__desc">{{ project.desc }}</span>
    </div>

    {% if project.image %}
    <div class="list-item__image">
      <img src="{{ project.image }}" />
    </div>
    {% endif %}
  </article>

  {% endfor %}
</div>
