<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygments.css" />
  </head>

  <body>

    <div id="outer-container">
      <div id="main-container">

        <header id="top-header">
          <h1>Kushagra Gour</h1>
          <h2>Game developer, Hacker, Creativity freak!</h2>
        </header>
        
        {% include nav.html %}
        
        <div id="content">
          {{ content }}
        </div>

      </div>

      {% include footer.html %}

    </div>

    {% include analytics.html %}
    {% if page.comments %}
      {% include analytics.html %}
    {% endif %}

  </body>

</html>
