<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="description" content="Code and Create" />
	<title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygments.css" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div id="outer-container">
      <div id="main-container">

        <header id="top-header">
          <a href="/"><h1>Kushagra Gour</h1></a>
          <h2>Game developer, Hacker, Creativity freak!</h2>
        </header>
        
        {% include nav.html %}
        
        <div id="content">
          {{ content }}
        </div>

      </div>

      {% include footer.html %}

    </div>

    {% include analytics.html %}

  </body>

</html>
