<!DOCTYPE HTML>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="description" content="Code and Create" />
	<title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="/css/style.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/rss.xml">

  </head>

  <body class="{{ page.name }}">

    <div id="outer-container">
      <div id="main-container">

        <header class="top-header {% if page.name == 'home' %}top-header--home{% endif %}">

          {% if page.name != 'home' %}
          <div class="space3d  top-header__cube">
            <div class="_3dbox">
              <div id="me" class="_3dface  _3dface--front">
                <div></div>
              </div>
              <div class="_3dface  _3dface--bottom">
                <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=chinchang457&tw_p=followbutton&variant=2.0" class="header-cube__twitter-link">
                  <img src="/images/twitter-logo.png" width="44" class="valign-middle">
                </a>
              </div>
            </div>
          </div>
          {% endif %}

          <a class="top-header__link" href="/"><h1>Kushagra Gour</h1></a>
          <h2>Game developer . Hacker . Creativity freak!</h2>
        </header>

        {% include nav.html %}

        {% if page.type != 'game' %}
        <div id="content">
          {{ content }}
        </div>
        {% endif %}

      </div>


    </div>

    {% if page.type == 'game' %}
    <div class="content  content--game">
      {{ content }}
    </div>
    {% endif %}

    {% include footer.html %}

    {% include analytics.html %}

    {% if page.name == 'blog' %}
    <div class="fixed-link-box">
    <!-- Icon made by Austin Andrews from Flaticon.com -->
      <a href="/feed/rss.xml" class="rss-link" target="_blank"></a>
    </div>

    <script type="text/javascript" src="/js/prism.js"></script>
    {% endif %}
  </body>


</html>
