---
layout: default
name: blog
label: blog
---

<article class="container post">
  <header class="post__header">
    <h1 class="post__title">{{ title }}</h1>
    <div class="post__meta container--small">
      Published on
      <time datetime="{{ page.date }}">{{
        page.date | date: "%B %d, %Y"
      }}</time>
      · Tagged with {% for tag in tags %}
      <a href="/blog/tags/{{ tag | slug }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </header>

  <div class="post__content container--small">{{ content | safe }}</div>
</article>

<div class="blog-navigation-buttons ta-c">
  <a class="button  prev-post-button" href="/blog">&larr; Back to Blog</a>

  {% if page.previous %}
  <a
    class="button  prev-post-button"
    href="{{ page.previous.url }}"
    title="{{ page.previous.title }}"
    >&larr; Prev Post</a
  >
  {% endif %} {% if page.next %}
  <a
    class="button  next-post-button"
    href="{{ page.next.url }}"
    title="{{ page.next.title }}"
    >Next Post &rarr;</a
  >
  {% endif %}
</div>

<!-- 
<div class="comment-box">
	<button id="showCommentsButton" style="margin:0 auto;display:block;" class="button" onclick="window.bootDisqus();">Show
		comments</button>
	<div id="disqusContainerEl" style="display: none">
		<h3>Comments</h3>
		<hr />
		{% include disqus.html %}
	</div>
</div> -->

<!-- <div class="bring-to-top">TOP</div> -->
