---
layout: default
name: blog
label: blog
---
<article>
	<h2 class="post-title">{{ title }}</h2>
	<div class="post-meta">{{ page.date | date: "%B %d, %Y" }}</div>


	<div class="post-content">{{ content | safe }}</div>

	{% include share_bar.html %}
</article>

<div class="blog-navigation-buttons">
	{% if page.previous %}
	<a class="button  prev-post-button" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev Post</a>
	{% endif %}

	{% if page.next %}
	<a class="button  next-post-button" href="{{ page.next.url }}" title="{{ page.next.title }}">Next Post &rarr;</a>
	{% endif %}
</div>

<div class="comment-box">
	<button id="showCommentsButton" style="margin:0 auto;display:block;" class="button" onclick="window.bootDisqus();">Show
		comments</button>
	<div id="disqusContainerEl" style="display: none">
		<h3>Comments</h3>
		<hr />
		{% include disqus.html %}
	</div>
</div>

<div class="bring-to-top">TOP</div>